S3method(responseMap,default)
S3method(responseMap,formula)
export(responseMap,responseMap.default,responseMap.formula)
export(formatResponseMap,formatDifferenceMap,voronoi)
export(calculateIAE,potentiationPlot,makeBRAIDreport)
import(ggplot2)
import(braidrm)
importFrom("stats","fitted","coef","model.frame","model.matrix","model.response","quantile")
importFrom("utils","capture.output","packageVersion")
importFrom("grid","unit","rectGrob","gpar","grid.newpage","grid.draw","textGrob","convertHeight","grobHeight","convertWidth","grobWidth")
